asgiref==3.7.2
autopep8==2.3.2
certifi==2024.2.2
charset-normalizer==3.3.2
defusedxml==0.7.1
Django==5.0.1
django-cors-headers==4.3.1
django-debug-toolbar==4.3.0
django-filter==23.5
django-svg-image-form-field==1.0.1
djangorestframework==3.14.0
# django-ratelimit==4.1.0  # Временно отключен
docopt==0.6.2
et-xmlfile==1.1.0
gprof2dot==2024.6.6
idna==3.6
lxml==5.1.0
Markdown==3.5.2
numpy==2.1.1
openpyxl==3.1.5
pandas==2.2.2
pillow==10.2.0
pipreqs==0.4.13
pycodestyle==2.12.1
python-dateutil==2.9.0.post0
python-docx==1.1.0
python-dotenv==1.0.1
pytz==2023.4
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
tomli==2.2.1
typing_extensions==4.9.0
tzdata==2023.4
urllib3==2.2.0
yarg==0.1.9
locust
psycopg[binary]
